.sidebar {
    background-color: #000;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    min-height: 120vh;
    position: relative;

    &__nav {
        @include flex(column, space-between, center);
        flex-grow: 1;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__footer {
        position: absolute; 
        bottom: 90px;
        left: 50%; 
        transform: rotate(-90deg) translate(-50%, -50%);
        transform-origin: left top;
        white-space: nowrap;
    }
    
  
    &__item {
        margin-bottom: 15px;
        
        .sidebar__icon {
            background: url('/assets/images/sprites/sidebar-nav-icons.svg');
            background-size: cover;
            display: block;
            height: 3em;
            width: 3em;


            &--yoga {
                background-position: 0 0;
            }

            &--swimming {
                background-position: 0 -63px;
            }

            &--bicycle {
                background-position: 0 -126px;
            }

            &--dumbbell {
                background-position: 0 -189px;
            }
        }

        &:hover {
            transform: scale(1.1);
        }


    }
  
    &__link {
        display: block;
        padding: 15px 20px;
        color: #ecf0f1;
        text-decoration: none;
  
        &:hover {
            text-decoration: underline;
        }
    }
  }
  